@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Noto+Sans+JP&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #d3e3fc;
}

.container {
    width: 90%;
    background-color: #ffffff;
    margin: 0 auto;
    height: 100%;
}
.logo {
    font-family: 'Jacques Francois Shadow', cursive;
    text-align: center;
    color: #fbbe18;
    padding: 1em 3%;
}

.header-one-title {
    background: #ffffff;
    color: #20252a;
    width: 100%;
}


.menu-search-and-contact {
    float: right;
    font-family: 'Raleway', sans-serif;
    font-size:15px
    color: #20252a;
}

.menu-basket-favorites-account {
    float: left;
}

.menu-container{
    width: 100%;
    height: 500px;
}

.menu {
    width: 100%;
    text-align: center;
}

ul li {
    display: inline;
}

.ultest {
    display: inline-block;
    width: 12%;
    padding: 1em 3%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #20252a;
}

.uitest {
    display: inline-block;
    width: 25%;
    padding: 1em 3%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #20252a;
}

.ultest:hover {
    color: #e5194a;
}

.uitest:hover {
    color: #e5194a;
}

hr {
    width: 100%;
    size: 8px;
    align: center;
}

#boxsearch {
    float: right;
    padding: 1em 3%;
}

.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search{
    width: 300px;
    height: 50px;
    background: #f4f4ef;
    border: none;
    font-size: 10pt;
    float: left;
    color: #20252a
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #20252a;
    font-family: 'Raleway', sans-serif;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #20252a;
    font-family: 'Raleway', sans-serif;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #20252a;
    font-family: 'Raleway', sans-serif;
}

.container-1 input#search:-ms-input-placeholder {
    color: #20252a;
    font-family: 'Raleway', sans-serif;
}

.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #20252a;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #bbc3c6;
    font-family: 'Raleway', sans-serif;
}

.wols {
    text-decoration: none;
    color: #20252a;
}

.wols:hover {
    color: #20252a;
}
/*#ffccdce4;*/
/*background: #2c3e50;*/
/*padding: 2em 10%;*/
/*<strong> — задает в html жирный шрифт. Тег <b> по действию аналогичный предыдущему;*/
/*<big> — размер больше установленного по умолчанию;*/
/*<small> — меньший размер шрифта;*/
/*<em> — наклонный текст (курсив). Аналогичный ему тег <i>;*/
/*<ins> — текст с подчеркиванием;*/
/*<del> — зачеркнутый;*/
/*<sub> — отображение текста только в нижнем регистре;*/
/*<sup> — в верхнем регистре.*/
/*font-family: 'Didact Gothic', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Arimo', sans-serif;*/
/*.bookmark, .basket {*/
/*    float: right;*/
/*}*/